sentence-transformers
numpy
tree-sitter
tree-sitter-python
tree-sitter-kotlin
tree-sitter-go
ollama
argparse
tqdm
pydantic
# onnxruntime  # Temporarily commented out as it failed to install
treesitter
